@page
@model StudentManagement.ViewModels.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" action="/Account/Register">
            <h4>Create a new account.</h4>
            <hr />
            @Html.HiddenFor(x => x.ReturnUrl)
            <div class="form-group">
                @Html.TextBoxFor(x => x.Email)
            </div>
            <div class="form-group">
                @Html.PasswordFor(x => x.Password)
            </div>
            <div class="form-group">
                @Html.PasswordFor(x => x.ConfirmPassword)
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>